<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Alta Montanha</title>
		<link href="/Content/themes/Publico/css/Site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="content-wrap">
        	<div id="header-wrap">
        		<h1 class="logo">Alta Montanha</h1>
				<div id="menu-wrap">
					<div id="busca">
						<form action="">
							<input class="search-field" type="text" />
							<input class="search-bt" type="button" value="BUSCAR" />
						</form>
					</div>
					<ul id="nav-bar">
						@*TODO: urls das páginas. *@
						<li class="current"><a href="#">NOTÍCIAS</a></li>
						<li><a href="#">ARTIGOS</a></li>
						<li><a href="#">COLUNAS</a></li>
						<li><a href="#">SUA AVENTURA</a></li>
						<li class="more-selector"></li>
					</ul>
					<div id="menu-shadow"></div>
				</div>
        	</div>
			<div id="main-bg">
				<div id="main-wrap">
						@RenderBody()
				</div>
			</div>
			<div id="spliter-footer"></div>
			<div id="footer-wrap">
				<div id="footer-box">
					<div class="col-300">
						<h2 class="footer-title">Twitter</h2>
						<img src="/content/themes/publico/img/pic.jpg" height="195px" width="300px" />
					</div>
					<div class="col-300">
						<h2 class="footer-title">Facebook</h2>
						<img src="/content/themes/publico/img/pic.jpg" height="195px" width="300px" />
					</div>
					<div class="col-300">
						<h2 class="footer-title">Google</h2>
						<img src="/content/themes/publico/img/pic.jpg" height="195px" width="300px" />
					</div>
					<p class="aviso-footer">
						<span>Atenção!!!</span> O Portal AltaMontanha.com alerta que as atividades de montanhismo são adrenantes e viciam logo ao seu primeiro uso. Os perigos existem, principalmente quando os limites não são respeitados, porém é uma atividade muito segura se praticada com moderação, consciência e respeito à natureza!
					</p>
					<ul class="social-media">
						@*TODO: Integrações. *@
						<li>Siga-nos</li>
						<li class="facebook"><a href="#" title="Facebook"></a></li>
						<li class="orkut"><a href="#" title="Orkut"></a></li>
						<li class="twitter"><a href="#" title="Twitter"></a></li>
					</ul>
					@*TODO: urls das páginas. *@
					<div id="nav-bar-footer">
						<ul>
							<li class="logo"><a href="#">Home</a></li>
							<li><a href="#">Notícias</a></li>
							<li><a href="#">Artigos</a></li>
							<li><a href="#">Colunas</a></li>
							<li><a href="#">Contato</a></li>
							<li><a href="#">Sua Aventura</a></li>
						</ul>
					</div>
					<div id="copyright">
						<p>Copyright © 2011 Alta Montanha. Todos os direitos reservados</p>
						<p class="credits">design por:</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>