@model AltaMontanha.Models.Dominio.Usuario

@{
    ViewBag.Title = "Autenticar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autenticar</h2>
<dl>
	<dt>Login:</dt>
	<dd>@Html.EditorFor(model => Model.Login)</dd>
	<dt>Senha:</dt>
	<dd>@Html.PasswordFor(model => Model.Senha)</dd>
	<dt></dt>
	<dd> 
		<input type="submit" value="Autenticar" />
	</dd>
</dl>
