@model IEnumerable<AltaMontanha.Models.Dominio.Link>

@{
    ViewBag.Title = "Links";
}

<div id="divGrid">
	<h3>Links</h3>

	<div class="grid">
		<table>
			<tr>
				<th>Título</th>
				<th>Url</th>
				<th></th>
				<th></th>
			</tr>

		@foreach (var item in Model) {
			<tr>
				<td>
					@item.Titulo
				</td>
				<td>
					@item.Url
				</td>
				<td class="action">
					@Html.ActionLink("Editar", "AlterarLink", new { Codigo = item.Codigo }, new { @class = "edit" })
				</td>
				<td class="action">
					@Html.ActionLink("Excluir", "ExcluirLink", new { Codigo = item.Codigo }, new { @class = "delete" })
				</td>
			</tr>
		}

		</table>
	</div>

</div>