<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
	    <!--<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>-->
		<property name="dialect">NHibernate.Dialect.MySQLDialect</property>
		<property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
		<property name="connection.connection_string">Server=172.16.27.168; Database=AltaMontanha; Uid=root;</property>
	    <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
	    <property name="show_sql">true</property>
	    <mapping assembly="AltaMontanha"/>
	</session-factory>
</hibernate-configuration>