@model IEnumerable<AltaMontanha.Models.Dominio.Artigo>

@{
    ViewBag.Title = "Artigos - AltaMontanha.com";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div id="main-box">
	<div id="conteudo">
		<h2>Artigos</h2>

		<div class="texto">
			<ul id="listagem">
			@foreach (var artigo in Model)
			{
			<li>
				<a href="/Artigo/@artigo.Codigo/@artigo.Slug">
					<img src="/AppData/Foto/50x50/@artigo.FotoCapa.Caminho" align="left" alt="@artigo.FotoCapa.Legenda" width="50" height="50" />
					<br />
					@artigo.Titulo<br />
					Data: @String.Format("{0:dd/MM/yyyy}", artigo.Data)
				</a>
			</li>
			}
			</ul>
		</div>
	</div>
	<div class="col-fotos">
		<div id="quadrado-home">
			@HelperBanner.VisualizarBanner((AltaMontanha.Models.Dominio.Banner) ViewData["BannerInterna"])
		</div>
	</div>
</div>