@model IEnumerable<AltaMontanha.Models.Dominio.Noticia>
@{
    ViewBag.Title = "AltaMontanha.com - Notícias";
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}
<div id="main-box">
    <div id="conteudoPrincipal">
        <h2>
            Notícias</h2>
        <div>
            <ul id="listagem">
                @foreach (var noticia in Model)
                {
                    <li><a href="/Noticia/@noticia.Codigo/@noticia.Slug">
                        <center>
                            <img src="/ManterFoto/Foto/@noticia.FotoCapa.Caminho?Tamanho=340" alt="@noticia.FotoCapa.Legenda" width="280" height="198" />
                        </center>
                        <div class="clear">
                        </div>
                        <p class="texto">
                            @noticia.Titulo
                            <p class="data center">
                                Data: @String.Format("{0:dd/MM/yyyy}", noticia.Data)</p>
                        </p>
                    </a></li>
                }
            </ul>
        </div>
        <center>
            @HelperGrid.GerarPaginacao(int.Parse(ViewBag.TotalMaterias.ToString()), int.Parse(ViewBag.Pagina.ToString()), "Noticias", AltaMontanha.Utilitario.Constante.TamanhoMaterias)
        </center>
    </div>
</div>
