body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.editor-field p input 
{
	float:left;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.erro
{
	margin: 15px 0 15px 0;
	border: 1px solid red;
	color: #F00;	
}

.erro p
{
	padding:5px;
}

#listaPalavras li
{
	display: inline;
	margin-right: 10px;
}

#listaFotos
{
	clear:left;
}

#listaFotos li
{
	margin-right: 10px;
	float: left;
	/*display: inline-block;*/
}

#listaFotos li div
{
	width: 145px;
	height: 95px;
}

#listaFotos li div span
{
	top: 15px;
	float: left;
	position: relative;
}

#listaFotos li a
{
	top: 15px !important;
	float: right !important;
	background-color: White !important;
	padding: 2px !important;
	text-decoration: none !important;
	color: Black !important;
	position: relative !important;
	font-weight: bold !important;
	border: 1px solid #CCC !important;
}

.bt_adicionar 
{
	margin: 5px 285px 0 0;
	float:right;
}

#listaTelas ul li
{
	width: 280px;
	padding: 5px;
	display: inline-block;
	/*height: 200px;
	overflow: auto;*/
}