@helper VisualizarNoticias(IList<AltaMontanha.Models.Dominio.Noticia> listaNoticias)
{
	<div id="news-wrap" class="col-260">
		<h2 class="box-title-small"><span class="title-bg">Notícias</span></h2>
		@foreach (AltaMontanha.Models.Dominio.Noticia noticia in listaNoticias)
		{
			<p><a href="\Noticia\@noticia.Codigo">@noticia.Titulo</a></p>
		}		
		@*
			TODO : Verificar classe no ultimo elemento
			<p class="no-border"><a href="#">At vero eos et accusamus et iusto odio dignissimos vducimus qui blanditiis</a></p>
		*@
	</div>	
}

@helper VisualizarNoticiasDestaque(IList<AltaMontanha.Models.Dominio.Noticia> listaNoticias)
{
	<script src="../Scripts/jquery-1.4.4.js" type="text/javascript"></script>
	<script src="/Scripts/easySlider1.7.js" type="text/javascript"></script>
	<script type="text/javascript">
		var j = jQuery.noConflict();

		j(document).ready(function () 
		{
			j("#slider").easySlider(
			{
				auto: true,
				continuous: true,
				numeric: true,
				speed: 1000,
				pause: 4000,
			});
		});
	</script>
	@* TODO: Implementar Helper de ultimas Noticias. *@
	<div id="destaques-wrap" class="col-340">
		<div id="slider">
			<h2 class="box-title-small"><span class="title-bg">Destaques</span></h2>
			<ul>
			@foreach (AltaMontanha.Models.Dominio.Noticia noticia in listaNoticias)
			{
				<li class="photo-destaque">
					<div>
						<a href="#">
							<img alt="@noticia.Titulo" src="/AppData/Foto/340x240/2011_05/11052011193347IMG_0007.JPG" width="340px" height="240px" />
							<div class="news-destaque">
								<p>@noticia.Titulo</p> 
							</div>
						</a>
					</div>
				</li>
			}
			</ul>
		</div>
	</div>
}